* {
  margin: 0;
  padding: 0
}

.screen {
  height: 100vh;
  width: 100vw;
  background-color: bisque;
  color: brown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: aliceblue;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 200px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25%;
}